.navbar {
  max-height: 40px;
  max-width: 1600px;
  background-color: aquamarine;
}
ul {
  align-items: left;
  /* padding-bottom: 5px; */
  padding-top: 8px;
}

.navcontent {
  display: inline-block;
  padding: 8px;
}

li {
  font: 1rem "Fira Sans", sans-serif;
  margin-bottom: 0.5rem;
}

.box {
  border: 10px solid rgb(32, 13, 58);
  background-color: rgb(223, 183, 183);
  padding: 40px;
  margin: 15px;
  width: 300px;
  height: 150px;
  align-items: center;
}
